@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  padding: 0 3rem;
  margin: 0 auto;
  max-width: 158.2rem;
  width: 100%;
}

.chart {
  .container {
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 155.2rem;
    width: 100%;
  }
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

input,
button {
  background: none;
  outline: none;
  border: none;
}

a {
  color: $base-black;
  text-decoration: none;
}

p,
span,
a,
input,
button,
ul,
li,
ol,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 150%;
}

:root {
  --base-black: #151515;
  --base-white: #fff;
  --base-gray: #868686;
  --base-blue: #05172d;
  --base-light-blue: #afbfcb;
  --base-bright-blue: #4b8dff;
}

@media (max-width: 425px) {
  .container {
    padding: 0 2rem;
  }
}

.ticker {
  background: var(--base-blue);
  color: var(--base-white);
  font-size: 1.6rem;
  z-index: 1100;
}

.ticker-wrapper {
  width: 100%;
  height: 100%;
  padding: 1.6rem 0;
  display: flex;
}

.ticker-block {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 50rem;
  padding: 0 1.6rem;
  border-left: 1px solid var(--base-gray);
  border-right: 1px solid var(--base-gray);

  .green {
    color: #6eeb83;
  }

  .red {
    color: #ff5e5b;
  }
}

.ticker-title {
  font-size: 1.8rem;
  font-weight: 400;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ticker-content {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.ticker-price {
  font-size: 1.8rem;
}

.ticker-status {
  display: flex;
  align-items: center;
  color: #6eeb83;
  gap: 0.8rem;

  span {
    display: inline-block;
    font-size: 1.8rem;
  }
}

.ticker-arrow {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  /* min-height: calc(80vh - 3px); */
  height: 85vh;
  background: url('./assets/WorldDigitalBackgroundLoop.mkv');
  position: relative;
}

.slide video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* display: none; */
  z-index: -1;
}

.line-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.line-chart h1 {
  font-size: 24px;
}

.chart {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #0000005b;
  padding: 20px;
}

.chart-title {
  color: white;
  font-size: 32px;
  font-weight: 700;
}
